body,html {
	height: 100%;
	margin: 0;
}

.bgimg {
	background-image: url('/home/ubuntu/Documents/web/imgs/background.jpg');
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	font-family: "Courier New", Courier, monospace;
}


.bottomleft {
	font-size: 15px;
	position: absolute;
	color: gray;
	bottom: 0;
	left: 16px;
}

.middle {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.middle h1 {font-size: 70px;}
.middle p {font-size: 20px;}

hr {
	margin: auto;
	width: 40%;
}
